.shop-img{
    width: 100%;
    height: auto;
}

.shop-item{
    border: 1px solid blue;
    border-radius: 20px;
    margin: 40px;
}

.item-img{
    width: 150px;
    height: 150px;
}

.item-qty{
    width: 70px;
}

.shop-price{
    color: aquamarine;
    font-size: 20px;
}
.shop-title{
    color: brown;
    font-size: 25px;
}
